$primary: #1abc9c;
$warn: #f39c12;
$danger: #e74c3c;
$disabled: #ccc;

$borderColor: #c6c6c6;
$themePrimaryColor: #4ba5fa;
$themePrimaryActiveColor: #1b77e0;

$componentHeight: 30px;

$normalColor: #7b8ea5;
$color:#cccccc;
